{{ 'section-collection-callout.css' | asset_url | stylesheet_tag }}
{{ 'helpers.css' | asset_url | stylesheet_tag }}

<section class="collection-callout">
  <div class="collection-callout__container">
    <img
      src="{{ section.settings.collection_image_desktop | image_url: width: 1440 }}"
      alt="Collection image"
      class="collection-callout__image hide-mobile"
      width="{{ section.settings.collection_image_desktop.width }}"
      height="{{ section.settings.collection_image_desktop.height }}"
    >

    <img
      src="{{ section.settings.collection_image_mobile | image_url: width: 768 }}"
      alt="Collection image"
      class="collection-callout__image hide-desktop"
      width="{{ section.settings.collection_image_mobile.width }}"
      height="{{ section.settings.collection_image_mobile.height }}"
    >

    <div class="collection-callout__wrapper">
      <div class="collection-callout__content">
        {% assign content_block = section.blocks.first %}

        <h2 class="collection-callout__heading">
          {{ content_block.settings.content_heading }}
        </h2>

        <div class="collection-callout__text">
          {{ content_block.settings.content_text }}
        </div>

        <a href="{{ content_block.settings.content_link }}" class="btn btn-primary">
          {{ content_block.settings.content_link_text }}
        </a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection Callout",
  "tag": "section",
  "max_blocks": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "collection_image_desktop",
      "label": "Collection image - Desktop"
    },
    {
      "type": "image_picker",
      "id": "collection_image_mobile",
      "label": "Collection image - Mobile"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Content",
      "settings": [
        {
          "type": "text",
          "id": "content_heading",
          "label": "Content heading"
        },
        {
          "type": "richtext",
          "id": "content_text",
          "label": "Content text"
        },
        {
          "type": "url",
          "id": "content_link",
          "label": "Content CTA"
        },
        {
          "type": "text",
          "id": "content_link_text",
          "label": "Content CTA text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Callout"
    }
  ]
}
{% endschema %}
