{{ 'section-header.css' | asset_url | stylesheet_tag }}

<header class="site-header">
  <div class="site-header__nav-mobile">
    {% render 'icons', icon_name: 'mobile_hamburger' %}
  </div>
  {% if section.settings.logo %}
    <a href="{{ routes.root_url }}">
      <img
        src="{{ section.settings.logo | image_url: width: 458 }}"
        width="119"
        height="26"
        alt="Logo"
        class="header__logo"
      >
    </a>
  {% endif %}
  <nav class="site-header__nav-desktop">
    <ul>
      {% for link in linklists[section.settings.menu].links %}
        <li>
          <a href="{{ link.url }}" class="site-header__nav-link{% if link.title == "Sale" %} sale{% endif %}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="site-header__search">
    <input
      type="text"
      placeholder="Search"
      class="site-header__search-input"
    >
    {% render 'icons', icon_name: 'search' %}
  </div>
  <div class="site-header__account__cart">
    <div class="site-header__account">
      <h5 class="site-header__account-heading">My Account</h5>
      <a href="/account" class="site-header__account-link">Sign in or Sign up</a>
    </div>
    <span class="site-header__account-separator"></span>
    <div class="site-header__cart">
      {% render 'icons', icon_name: 'shopping_cart' %}
      <span class="site-header__cart-count">3</span>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
